<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geemu.persistence.dao.primary.UserInfoMapper">
  <resultMap id="BaseResultMap" type="me.geemu.persistence.model.primary.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="CHAR" property="account" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="dataFlag" jdbcType="BIT" property="dataFlag" />
    <result column="isDelete" jdbcType="BIT" property="isDelete" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="createId" jdbcType="BIGINT" property="createId" />
    <result column="updateId" jdbcType="BIGINT" property="updateId" />
  </resultMap>

  <select id="findByAccountAndPassword" resultMap="BaseResultMap">
    select *
    from user_info_secondary
    WHERE account = #{account}
    and password = #{password}
    limit 1
  </select>
</mapper>