<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geemu.persistence.dao.primary.UserInfoMapper">
    <resultMap id="BaseResultMap" type="me.geemu.persistence.model.primary.UserInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" jdbcType="CHAR" property="account"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="data_flag" jdbcType="BIT" property="dataFlag"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
    </resultMap>

    <select id="findByAccountAndPassword" resultMap="BaseResultMap">
    select *
    from user_info
    WHERE account = #{account}
    and password = #{password}
    limit 1
  </select>
</mapper>