<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geemu.persistence.dao.primary.UserInfoMapper">
  <resultMap id="BaseResultMap" type="me.geemu.persistence.model.primary.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="CHAR" property="account" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="nickName" jdbcType="VARCHAR" property="nickName" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="dataFlag" jdbcType="BIT" property="dataFlag" />
    <result column="isDelete" jdbcType="BIT" property="isDelete" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="createId" jdbcType="BIGINT" property="createId" />
    <result column="updateId" jdbcType="BIGINT" property="updateId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, account, "password", nickName, phoneNumber, email, sex, dataFlag, isDelete, createTime, 
    updateTime, createId, updateId
  </sql>
</mapper>