<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geemu.persistence.dao.secondary.LogRequestMapper">
  <resultMap id="BaseResultMap" type="me.geemu.persistence.model.secondary.LogRequest">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="requestParam" jdbcType="VARCHAR" property="requestparam" />
    <result column="responseBody" jdbcType="VARCHAR" property="responsebody" />
    <result column="requestTime" jdbcType="TIMESTAMP" property="requesttime" />
    <result column="responseTime" jdbcType="TIMESTAMP" property="responsetime" />
    <result column="spendTime" jdbcType="INTEGER" property="spendtime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="deviceType" jdbcType="VARCHAR" property="devicetype" />
    <result column="deviceId" jdbcType="VARCHAR" property="deviceid" />
    <result column="deviceName" jdbcType="VARCHAR" property="devicename" />
    <result column="userAgent" jdbcType="VARCHAR" property="useragent" />
    <result column="cookie" jdbcType="VARCHAR" property="cookie" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, url, `path`, requestParam, responseBody, requestTime, responseTime, spendTime, 
    ip, userId, token, deviceType, deviceId, deviceName, userAgent, cookie
  </sql>
  <select id="selectByExample" parameterType="me.geemu.persistence.model.secondary.LogRequestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log_request
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="me.geemu.persistence.model.secondary.LogRequestExample">
    delete from log_request
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="me.geemu.persistence.model.secondary.LogRequest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into log_request (url, `path`, requestParam, 
      responseBody, requestTime, responseTime, 
      spendTime, ip, userId, 
      token, deviceType, deviceId, 
      deviceName, userAgent, cookie
      )
    values (#{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{requestparam,jdbcType=VARCHAR}, 
      #{responsebody,jdbcType=VARCHAR}, #{requesttime,jdbcType=TIMESTAMP}, #{responsetime,jdbcType=TIMESTAMP}, 
      #{spendtime,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{token,jdbcType=VARCHAR}, #{devicetype,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR}, 
      #{devicename,jdbcType=VARCHAR}, #{useragent,jdbcType=VARCHAR}, #{cookie,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.geemu.persistence.model.secondary.LogRequest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into log_request
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="requestparam != null">
        requestParam,
      </if>
      <if test="responsebody != null">
        responseBody,
      </if>
      <if test="requesttime != null">
        requestTime,
      </if>
      <if test="responsetime != null">
        responseTime,
      </if>
      <if test="spendtime != null">
        spendTime,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="devicetype != null">
        deviceType,
      </if>
      <if test="deviceid != null">
        deviceId,
      </if>
      <if test="devicename != null">
        deviceName,
      </if>
      <if test="useragent != null">
        userAgent,
      </if>
      <if test="cookie != null">
        cookie,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="requestparam != null">
        #{requestparam,jdbcType=VARCHAR},
      </if>
      <if test="responsebody != null">
        #{responsebody,jdbcType=VARCHAR},
      </if>
      <if test="requesttime != null">
        #{requesttime,jdbcType=TIMESTAMP},
      </if>
      <if test="responsetime != null">
        #{responsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="spendtime != null">
        #{spendtime,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="devicetype != null">
        #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null">
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="devicename != null">
        #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="cookie != null">
        #{cookie,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="me.geemu.persistence.model.secondary.LogRequestExample" resultType="java.lang.Long">
    select count(*) from log_request
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update log_request
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null">
        `path` = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.requestparam != null">
        requestParam = #{record.requestparam,jdbcType=VARCHAR},
      </if>
      <if test="record.responsebody != null">
        responseBody = #{record.responsebody,jdbcType=VARCHAR},
      </if>
      <if test="record.requesttime != null">
        requestTime = #{record.requesttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.responsetime != null">
        responseTime = #{record.responsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spendtime != null">
        spendTime = #{record.spendtime,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.devicetype != null">
        deviceType = #{record.devicetype,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceid != null">
        deviceId = #{record.deviceid,jdbcType=VARCHAR},
      </if>
      <if test="record.devicename != null">
        deviceName = #{record.devicename,jdbcType=VARCHAR},
      </if>
      <if test="record.useragent != null">
        userAgent = #{record.useragent,jdbcType=VARCHAR},
      </if>
      <if test="record.cookie != null">
        cookie = #{record.cookie,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update log_request
    set id = #{record.id,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      `path` = #{record.path,jdbcType=VARCHAR},
      requestParam = #{record.requestparam,jdbcType=VARCHAR},
      responseBody = #{record.responsebody,jdbcType=VARCHAR},
      requestTime = #{record.requesttime,jdbcType=TIMESTAMP},
      responseTime = #{record.responsetime,jdbcType=TIMESTAMP},
      spendTime = #{record.spendtime,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=BIGINT},
      token = #{record.token,jdbcType=VARCHAR},
      deviceType = #{record.devicetype,jdbcType=VARCHAR},
      deviceId = #{record.deviceid,jdbcType=VARCHAR},
      deviceName = #{record.devicename,jdbcType=VARCHAR},
      userAgent = #{record.useragent,jdbcType=VARCHAR},
      cookie = #{record.cookie,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>