<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geemu.persistence.dao.secondary.LogRequestMapper">
  <resultMap id="BaseResultMap" type="me.geemu.persistence.model.secondary.LogRequest">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="reqParam" jdbcType="VARCHAR" property="reqParam" />
    <result column="respBody" jdbcType="VARCHAR" property="respBody" />
    <result column="reqTime" jdbcType="TIMESTAMP" property="reqTime" />
    <result column="respTime" jdbcType="TIMESTAMP" property="respTime" />
    <result column="spendTime" jdbcType="INTEGER" property="spendTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="deviceType" jdbcType="VARCHAR" property="deviceType" />
    <result column="deviceId" jdbcType="VARCHAR" property="deviceId" />
    <result column="deviceName" jdbcType="VARCHAR" property="deviceName" />
    <result column="userAgent" jdbcType="VARCHAR" property="userAgent" />
    <result column="cookie" jdbcType="VARCHAR" property="cookie" />
  </resultMap>
</mapper>